* {
  margin: 0%;
  padding: 0;
  background-color: #cecef4;
  color: black;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.main {
  display: grid;
  height: 98vh;
  width: 100%;
  margin-top: 1rem;
}

/*heading*/

.head {
  background-color: white;
  display: flex;
  width: 100%;
  height: 10vh;
}

.logo-img {
  height: 10vh;
  width: 22vw;
  
  padding: 0rem;
}

img {
  /*make sure that the image is not too big*/
  width: 10vw;
  height: 10vh;
  align-items: center;
  padding-left: 2rem;
}

.main-tittle {
  background-color: white;
  width: 80%;
}

#main-tittle {
  text-align: center;
  background-color: white;
  color: blue;
  font-size: 40px;
  padding-top: 25px;
}

.right-image {
  background-color: black;
  color: red;
  width: 10%;
  margin-left: 0rem;
}

/*body*/

.body-area {
  background-color: white;
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 70vh;
  margin-top: 2rem;
}

.left {
  background-color: #cecef4;
  color: blue;
  height: 70vh;
  width: 20%;
  font-size: 2rem;
  padding: 1rem;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.nav-content {
  display: grid;
  grid-template-columns: repeat(2rem);
  margin-top: 2rem;
  height: 20vh;
  width: auto
  font-family: Franklin Gothic Medium;
  font-size: medium;
  font-weight: 100;
}

.journey,
.curiocity,
.friendship,
.love,
.growth,
.ambitions,
.persistance {
  background-color: white;
  border: 0.1em;
  border-color: #cecef4;
  border-style: solid;
  margin: 0;
  height: 3vh;
  width: auto;
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 100;
}

.right {
  background-color: white;
  display: flex;
  width: 80%;
  padding: 0;
  text-align: center;
}

.middle {
  background-color: black;
  color: white;
  width: 65%;
  margin: 0;
}

.introduction {
  background-color: white;
  width: auto;
}

.tittle {
  padding-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 10rem;
}

.tittle,
.paragraph {
  background-color: white;
  padding: auto;
  text-align: center;
}


}

/*footer*/

.footer {
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 3vh;
  text-align: center;
  padding: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.facebook,
.location,
.twitter,
.linkin,
.copyrigh {
  background-color: white;
}
